.table {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.table_column_name {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}