.CreateFields{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .container{
        padding: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
        height: 77vh;
    }
}