.card_table {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 20px;
}

.table_avatar {
    display: flex;
    justify-content: flex-start;
    gap: 17px;

    img {
        border-radius: 5px;
    }

    p {
        font-size: 14px;
        color: #262d3f;
        text-decoration: none solid rgb(38, 45, 63);
    }
}