.i-arrow {background-image: url('/images/icons/arrow_down.svg');}
.i-arrow_right {background-image: url('/images/icons/arrow_right.svg');}
.i-search {background-image: url('/images/icons/icon_search.svg');}
.i-settings {background-image: url('/images/icons/settings.svg');}
.i-profiles-blue {background-image: url('/images/icons/profiles_blue.svg');}
.i-users-greendark {background-image: url('/images/icons/users_greendark.svg');}
.i-users-green {background-image: url('/images/icons/users_green.svg');}
.i-users-red {background-image: url('/images/icons/users_red.svg');}
.i-modules-green {background-image: url('/images/icons/modules_green.svg');}
.i-activar {background-image: url('/images/icons/IconInactive.svg');}
.i-excel {background-image: url('/images/icons/excel.svg');}
.i-menu {background-image: url('/images/icons/menu.svg');}
.i-hr {background-image: url('/images/icons/human_resources.svg');}
.i-ocr {background-image: url('/images/icons/searchOCR.svg');}
.i-delete {background-image: url('/images/icons/IconDelete.svg');}
.i-show {background-image: url('/images/icons/IconShow.svg');}
.i-edit {background-image: url('/images/icons/IconEdit.svg');}
.i-activate {background-image: url('/images/icons/IconInactive.svg');}
.i-departments {background-image: url('/images/icons/departments.svg');}
.i-doc {background-image: url('/images/icons/doc.svg');}
.i-stores-blue {background-image: url('/images/icons/store.svg');}
.i-documents-green {background-image: url('/images/icons/documents.svg');}
.i-fields-bGreen {background-image: url('/images/icons/fields.svg');}
.i-templates-blue {background-image: url('/images/icons/templates.svg');}
.i-point {background-image: url('/images/icons/point.svg');}
.i-download {background-image: url('/images/icons/download.svg');}
