.Generals{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .ContData{
        padding: 20px;
    
        .title{
            font-weight: 700;
            font-size: 16px;
            color: #262d3f;
        }
    
        .ContInfo{
            display: flex;
            flex-direction: row;
            gap: 20px;
    
            .ContPhoto{
                .text{
                    margin-top: 13px;
                    margin-bottom: 6px;
                    font-size: 14px;
                    color: #262d3f;
                }
            }
    
            .Data{
                display: flex;
                flex-direction: column;
                gap: 23px;
    
                .top{
                    display: flex;
                    flex-direction: row;
                    gap: 20px;
                    margin-top: 12px;
                }
    
                .bottom{
                    display: flex;
                    align-items: flex-end;
                    flex-direction: row;
                    gap: 20px; 
                }
            }
        }
    }
    
    .ContJobs{
       .title{
        font-size: 16px;
        color: #262d3f;
        margin-top: 20px;
        margin-left: 20px;
        font-weight: 700;
       } 
    }
    [class~="p-datatable-wrapper"] {
        position: static;
        border: none !important;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        border-bottom: none;
    }
}
