.Templates{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .table_avatar {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 17px;
        img {
          border-radius: 50%;
        }
        p {
            font-size: 14px;
            color: #262d3f;
            text-decoration: none solid rgb(38, 45, 63);
        }
      }
}