
.CreateClient{
	display: flex;
	flex-direction: column;
	gap: 20px;
	.header{
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 20px;
		.title{
				font-size: 16px;
				font-weight: bold;
				color: #262d3f;
				text-decoration: none solid rgb(38, 45, 63);
		}
		.Buttons{
				display: flex;
				flex-direction: row;
				gap: 19px;
		}
	}
	.rows{
		display: flex;
		flex-direction: column;
		gap: 18px;
	}
	.container_input{
		display: flex;
		flex-direction: column;
		padding: 20px;
		gap: 20px;
		.pTitle{
			font-weight: bold;
			font-size: 16px;
			color: #262d3f;
			text-decoration: none solid rgb(38, 45, 63);
		}
		.inputs{
			display: flex;
			flex-direction: column;
			gap: 23px;
			.row{
				display: flex;
				gap: 20px;
				.w248{
						width: 248px;
				}
				.w372{
					width: 372px;
				}
				.w393{
						width: 393px;
				}
			}
		}
	}
}